#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;

    border: 3px solid #3498db;
    z-index: 1500;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid #e74c3c;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid #f9c922;
}

/* change border to transparent and set only border-top to a solid color */
#loader {
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #3498db;
}
#loader:before {
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #e74c3c;
}
#loader:after {
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #f9c922;
}